* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

#header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    height: 54.5px;
    align-items: center;
    background-color: var(--white-color);
}

.header-item-right {
    display: flex;
}

.header-item__link {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--black-color);
    padding: 8px 16px;
    letter-spacing: 4px;
    width: auto;
    line-height: 22.5px;
}

.header-item__link:hover {
    background-color: #ccc; 
}

#slide {
    position: relative;

}

.slide-img {
    /* margin-top: 54.5px; */
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.slide-label {
    position: absolute;
    bottom: 10px;
    padding: 12px 24px;
    height: 54px;
    margin: 10px 0px;
}

.slide-label__content {
    font-size: 3.6rem;
    font-weight: 300;
    color: #fff;
    letter-spacing: 5px;
}

#content {
}

.content-section {
    position: relative;
    display: flex;
    padding: 64px 0px;
}

.content__about {
    padding: 12px 24px;
    width: 50%;
}

.content__about-img {
    max-width: 100%;
    height: auto;
    border-radius: 2px;
    opacity: 0.8;
}

.content__about-catering {
    width: 50%;
}

.content__about-catering-wrap {
    width: 100%;
    padding: 12px 24px;

}

.content__about-catering__header {
    text-align: center;
    margin: 10px 0px;
    font-size: 3.6rem;
    font-weight: 400;
    height: 54px;
    line-height: 54px;
    letter-spacing: 5px;
    color: #58595c;
}

.content__about-catering__sub-header {
    text-align: center;
    margin: 10px 0px;
    margin-top: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 5px;
    height: 27px;
    line-height: 27px;
}

.content__about-text {
    margin: 18px 0px;
    font-size: 1.8rem;
    white-space: 400;
    line-height: 2.7rem;
}

.content__about-catering-light {
    padding: 0px 8px;
    background-color: #f1f1f1;
    display: inline-block;
}


.content__about-text-grey {
    color: var(--text-grey);

}

.content__our-menu {
    width: 50%;
}

.content__our-menu-wrap {
    width: 100%;
    padding: 12px 24px;
}

.content__our-menu__header {
    text-align: center;
    margin: 10px 0px;
    font-size: 3.6rem;
    font-weight: 400;
    height: 54px;
    line-height: 54px;
    letter-spacing: 5px;
    color: #000;
}

.content__our-menu {

}

.content__our-menu-item {
    
}

.content__our-menu-item-header {
    margin: 15px 0px 10px 0px;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 30px;
}

.content__our-menu-text-grey {
    margin: 19px 0px;
    font-size: 1.5rem;
    color: var(--text-grey);

}


#footer {
}

.content-contact {
    display: block;
}

.content-contact-wrap {
    padding: 64px 16px;
}

.content-contact__header {
    width: 100%;
    margin: 10px 0px;
    font-size: 3.6rem;
    font-weight: 400;
    height: 54px;
    line-height: 54px;
    letter-spacing: 5px;
}


.content-contact__text {
    margin: 18px 0px 15px 0px;
    font-size: 15px;
    line-height: 2.4rem;
}

.content-contact__location {
    font-size: 1.8rem;
    color: #607d8b;
    font-weight: 600;
    margin: 22px 0px;
}

.content-contact__input {
    width: 100%;
    padding: 18px 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc ;
    line-height: 1.6rem;
}

.input-form {
    margin: 18px 0px;
}

.content-contact__input-date-time {
    width: 100%;
    padding: 16px 8px;
    display: block;
    border: none;
    line-height: 1.6rem;
    border-bottom: 1px solid #ccc ;


}

.content-contact__btn {
    margin: 15px 0px;
}

.content-contact__btn-send {
    background-color: #f1f1f1;
    padding: 12px 8px;
    border: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 16px 0px;
    min-width: 145px;
    cursor: pointer;
}

.content-contact__btn-send:hover {
    background-color: #ccc; 
}


#footer {
    background-color: #f1f1f1;
    padding: 36px 0px;
}

.footer__license {
    margin: 15px 0px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 15px;
}

.footer__license-link {
    color: #000;
}

.footer__license-link:hover {

    color: #4CAF50;
}